.class_project_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #1f2a4e;
}

.class_project_title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    color: white;
    transition: 2s;
    animation-name: class_project_title;
    animation-duration: 2s;
}

@keyframes class_project_title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.class_project_subtitle {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: white;
    transition: 2s;
    animation-name: class_project_subtitle;
    animation-duration: 2s;
}

@keyframes class_project_subtitle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.class_project_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-top: 50px;
}

.class_project_main .class_project_image_container {
    display: flex;
    width: 500px;
    height: 325px;
    transition: 0.25s;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #5875d3;
}

.class_project_image_container img {
    width: 100%;
    height: 100%;
    filter: blur(2px);
    transition: 1s;
    overflow: hidden;
    object-fit: cover;
    /* transform: scale(1.25); */
}

.class_project_icons_title {
    width: 100%;
}

.class_project_icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    transition: 0.25s;
    color: white;
    background-color: #364985;
    position: absolute;
    width: 100%;
    height: 0%;
    opacity: 0;
    bottom: 0;
    overflow: hidden;
}

.class_project_image_container:hover .class_project_icons {
    opacity: 1;
    height: 35%;
}

.class_project_image_container:hover img {
    filter: blur(0px);
    transition: 0.25s;
}

.class_project_icons i {
    font-size: 25px;
    color: orange;
}

.class_project_description_container {
    display: flex;
    flex-direction: column;
}

.class_project_description_title {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.class_project_description_technology {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
}

.class_project_icons_separated {
    border-style: solid;
    border-width: 1px;
    border-color: #5875d3;
}

.class_project_description_technology svg {
    width: 50px;
    height: 30px;
}

.class_project_description_technology svg path {
    fill: #f7bd52;
}

.class_project_description_date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 80%;
    color: #c2c0c0;
    margin-top: 30px;
}

.class_project_description_date a {
    color: #c2c0c0;
    text-decoration: none;
}

.class_project_description_date_title {
    color: white;
}

.class_project_icons .class_project_title_link {
    display: flex;
    flex-direction: column;
}

.class_project_subtitle_link {
    font-size: 12px;
    color: rgb(151, 150, 150);
}