.class_project_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #1f2a4e;
}

.class_project_title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    color: white;
    transition: 2s;
    animation-name: class_project_title;
    animation-duration: 2s;
}

@keyframes class_project_title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.class_project_subtitle {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: white;
    transition: 2s;
    animation-name: class_project_subtitle;
    animation-duration: 2s;
}

@keyframes class_project_subtitle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.class_project_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}

.class_project_image_container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 400px;
    background-size: cover;
    transition: 0.5s;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    margin-top: 20px;
}

.class_project_image_container img {
    width: 55%;
    height: 100%;
    border-radius: 10px;
}

.class_project_description_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    background-color: #364985;
    box-shadow: 0px 0px 10px #292929;
    border-radius: 10px;
}

.class_project_description_title {
    display: flex;
    align-items: center;
    width: 80%;
    height: 75px;
    color: white;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 0.5px;
    border-color: #5875d3;
    font-weight: bolder;
}

.class_project_description_technology {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.class_project_description_technology svg {
    width: 50px;
    height: 50px;
}

.class_project_description_technology svg path {
    fill: #f7bd52;
}

.class_project_description_date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 80%;
    color: #c2c0c0;
    margin-top: 30px;
}

.class_project_description_date a {
    color: #c2c0c0;
    text-decoration: none;
}

.class_project_description_date_title {
    color: white;
}