.class_about_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19223f;
    width: 100%;
    min-height: 100vh;
}

.class_about {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-top: 30px;
    padding: 20px;
}

.class_about_image_container {
    display: flex;
    align-items: center;
    border-radius: 5px;
}


.class_about_image img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.class_about_image_text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 50px;
}

.class_about_text {
    display: flex;
    width: 200px;
    justify-content: space-between;
    color: lightblue;
    font-weight: bolder;
    font-weight: 400;
    padding: 10px;
}

.class_about_text_title {
    font-weight: bolder;
    color: white;
}

.class_skill_personal_title {
    color: lightblue;
    font-weight: bolder;
    margin-top: 30px;
}

.class_about_skill_bar {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.class_skill_personal_communication {
    background: linear-gradient(
        to right, 
        orange 15%,
        white 0%
    )
}

.class_skill_personal_creativity {
    background: linear-gradient(
        to right, 
        #4c57f3 45%,
        white 0%
    )
}

.class_skill_personal_dedication {
    background: linear-gradient(
        to right, 
        #f04b4b 95%,
        white 0%
    )
}

.class_skill_personal_time {
    background: linear-gradient(
        to right, 
        #0d4ea1 95%,
        white 0%
    )
}

.class_skill_personal_compromise {
    background: linear-gradient(
        to right, 
        #3333f3 95%,
        white 0%
    )
}

.class_skill_personal_motivation {
    background: linear-gradient(
        to right, 
        #2451a5 87%,
        white 0%
    )
}

.class_main_icon_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
    width: 100%;
    align-self: center;
}

.class_skill_personal_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.class_element_display {
    opacity: 0;
}

.class_about_me {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.class_about_me_title {
    display: flex;
    font-size: 50px;
    color: white;
}

.class_about_me p {
    margin-top: 30px;
    width: 100%;
    font-weight: 400;
    color: white;
}

.class_icon_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    width: 100px;
    background-color:#1c3a44;
    cursor: pointer;
    transition: 1s;
}

.class_icon_container_display i {
    color: #1f2a4e !important;
}

.class_icon_container_display span {
    color: #1f2a4e !important;
}

.class_icon_container:hover {
    background-color:#234a57;
}

.class_icon_container i {
    color: lightblue;
    font-size: 35px;
}

.class_icon_container span {
    margin-top: 5px;
    color: lightblue;
    font-size: 13px;
}

.class_about_button_container {
    display: flex;
    margin-top: 20px;
}

.class_button_cv {
    background-color: #3e46b8;
    padding: 10px;
    color: white;
    font-family: 'Open-sans', sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.class_button_cv:hover {
    background-color: #4f58ce;
}

.class_about_interest_title {
    color: white;
    font-size: 25px;
    margin-top: 30px;
    font-weight: bolder;
}

.class_element_transition {
    transition: 3s;
}