/* Moto G4 - Galaxy S5 */

@media only screen and (max-height: 400px) {
    .class_skill_container {
        height: auto;
    }
}

@media only screen and (max-width: 1200px) {

    .class_main_container {
        display: flex;
        justify-content: start;
    }
    
    .class_menu_normal {
        display: none;
    }

    .class_menu_container {
        width: 80%;
    }

    .class_menu_responsive {
        display: flex;
        margin-left: -100%;
        transition: 1s;
        box-shadow: 0px 0px 10px black;
    }

    .class_menu_position {
        margin-left: 0%;
    }

    .class_menu_fake {
        display: none;
    }

    .class_main_menu_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 20px;
        bottom: 0;
        right: 10px;
        z-index: 1;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #2e5c6b;
    }

    .class_main_menu_icon i {
        color: white;
        font-size: 20px;
    }

    .class_home_container {
        justify-content: center;
        height: 100vh;
    }

    .class_home_title {
        margin: 0;
    }

    .class_home_icon_container {
        justify-content: space-between;
        width: 80%;
    }

    .class_about_container, .class_service_container {
        height: auto;
    }

    .class_about {
        flex-direction: column;
    }

    .class_about_image_container {
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .class_about_image_text {
        width: 100%;
        margin: 0;
    }
    
    .class_about_text {
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }

    .class_about_me {
        width: 100%;
        margin-left: 0px;
        margin-top: 50px;
        word-break: break-all;
    }

    .class_main_icon_container {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        height: 450px;
        justify-content: center;
        align-items: center;
    }

    .class_icon_container {
        flex-direction: column;
        width: 100px;
    }

    .class_about_button_container {
        justify-content: center;
    }

    .class_skill_icon {
        width: 90%;
    }

    .class_skill_icon .class_element_display {
        margin-top: auto;
    }

    .class_service {
        margin-bottom: 30px;
    }

    .class_project_main {
        height: auto;
        flex-direction: column;
        width: 100%;
    }

    .class_project_image_container {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-top: 50px;
    }

    .class_project_image_container img {
        width: 100%;
    }

    .class_project_description_container {
        width: 100%;
        margin-top: 30px;
    }
}

/* Pixel 2 */
@media only screen and (max-width: 411px) and (max-height: 731px) {
}

/* Pixel 2 XL */
@media only screen and (max-width: 411px) and (max-height: 823px) {
}

/* iPhone 5/SE */
@media only screen and (max-width: 320px) {
    .class_main_icon_container {
        height: auto;
    }
}

/* iPhone 6/7/8 */
@media only screen and (max-width: 375px) and (max-height: 667px) {
}

/* iPhone 6/7/8 Plus */
@media only screen and (max-width: 414px) and (max-height: 736px) {
}

/* iPhone X */
@media only screen and (max-width: 375px) and (max-height: 812px) {
}

/* iPad */
@media only screen and (max-width: 768px) and (max-height: 1024px) {
}

/* iPhone Pro */
@media only screen and (max-width: 1024px) and (max-height: 1366px) {
}

/* Surface Duo */
@media only screen and (width: 540px) and (height: 720px) {
}

/* Galaxy Fold */
@media only screen and (max-width: 280px) {
}

/* Nest Hub */
@media only screen and (max-width: 1024px) and (max-height: 600px) {
}

/* Nest Hub Max */
@media only screen and (max-width: 1280px) and (max-height: 800px) {
}


